section(data-name="o-form")
  h1.t-h1 Forms
  form.o-form
    fieldset.o-form__fieldset

      legend.o-form__legend Legend

      table.o-form__table
        tr
          td
            mark.o-note--positive Great success!
          td
            mark.o-note--negative Warning!
        tr
          each instance, index in ["text", "number"]
            td
              div(class="o-holder--#{instance}")
                label.o-holder__label.o-label Label #{index}
                .o-holder__content
                  input.o-input.o-holder__input(type=instance, placeholder="Value")
                  span.o-holder__icon.ss-notebook
        tr
          td
            .o-holder--radio
              label.o-label.o-holder__label Select
              .o-holder__content
                each instance in ["One", "Two", "Three"]
                  label.o-radio
                    input.o-radio__input(type="radio", name="radio-group")
                    span.o-radio__mark
                    span.o-radio__text= instance
          td
            .o-holder--select
              label.o-label.o-holder__label Select
              .o-select.o-holder__content
                select.o-select__content
                  optgroup(label="Group Name")
                  each instance in [1, 2, 3]
                    option Option #{instance}
                span.o-holder__icon.ss-navigatedown
        tr
          td(colspan="2")
            textarea.o-textarea(placeholder="Text.")
        tr
          td
            input.o-submit--reset(type="reset", value="Reset")
          td
            input.o-submit(type="submit", value="Submit")